/* Global Styles */

:root {
	--white: rgb(255, 255, 255);
	--electric-blue: color(display-p3 0.1 0.1 1);
	--dark-blue: rgb(7, 7, 118);

	color-scheme: light dark;
	color: var(--white);
	background-color: var(--electric-blue);

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--base-padding: clamp(1.5rem, 4vw, 3rem);
	--fill-container: calc(100% - var(--base-padding) * 2);
}

/* Components */

.btn {
	font-weight: 600;
	padding: 0.5rem 1rem;
	background-color: var(--white);
	border-radius: 0.25rem;
	border: 1px solid;
	border: 1px solid var(--white);
	text-decoration: none;
	transition: background-color 200ms ease-in-out;
}

.btn--primary {
	color: var(--dark-blue);

	&:hover {
		background-color: color-mix(in srgb, var(--white) 80%, transparent);
	}
}

.btn--secondary {
	background-color: transparent;
	color: var(--white);

	&:hover {
		background-color: color-mix(in srgb, var(--white) 10%, transparent);
	}
}

.btn-container {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin-block: 2rem 4rem;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		font-size: 1.5rem;
		font-weight: 800;
		margin-block: 0;
	}

	svg {
		width: 5rem;
		height: 5rem;
	}

	@media screen and (min-width: 48em) {
		flex-direction: row;
		writing-mode: vertical-lr;
		transform: rotate(180deg);

		p {
			font-size: clamp(3rem, 5vw, 4rem);
		}

		svg {
			transform: rotate(90deg);
		}
	}

	@media screen and (min-width: 90em) {
		flex-direction: column;
		writing-mode: horizontal-tb;
		transform: rotate(-360deg);

		p {
			font-size: 2rem;
		}

		svg {
			transform: rotate(0deg);
		}
	}
}

/* Layout */

body {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'a1'
		'a2'
		'b1';
	place-items: center;
	min-width: 320px;
	min-height: 100vh;

	@media screen and (min-width: 48em) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'a1 a1 a2 a2 a2 a2'
			'a1 a1 a2 a2 a2 a2'
			'b1 b1 b1 b1 b1 b1';
	}

	@media screen and (min-width: 90em) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'a1 a1 a2 a2 a2 a2'
			'b1 b1 a2 a2 a2 a2'
			'b1 b1 a2 a2 a2 a2';
	}
}

.a1,
.a2,
.b1 {
	padding: var(--base-padding);
	width: var(--fill-container);
	height: var(--fill-container);
}

.a1 {
	grid-area: a1;
	background-color: var(--electric-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

.a2 {
	grid-area: a2;
	background-color: var(--white);

	& h1 {
		color: var(--electric-blue);
		text-align: center;
		font-size: clamp(1.5rem, 2.5vw + 0.5rem, 4rem);
		font-weight: 600;
		line-height: 112%;

		@media screen and (min-width: 48em) {
			letter-spacing: -1.5px;
		}
	}
}

.screenshot-container {
	padding: clamp(1rem, 4vw, 3rem) clamp(0rem, 4vw, 6rem);
	display: flex;
	justify-content: center;
	align-items: center;

	& img {
		max-width: 100%;
		max-height: 100%;
		filter: drop-shadow(rgba(22, 20, 244, 0.25) 0px 32px 32px);
	}
}

.b1 {
	grid-area: b1;
	background-color: var(--dark-blue);
	display: flex;
	flex-direction: column;

	& p {
		font-size: clamp(1.25rem, 4vw, 2rem);
		font-weight: 350;
		margin-block: 0;
		max-width: 40ch;
	}
}

.a1 > div > p {
	text-align: center;
}

footer {
	margin-block-start: auto;
}
