/* Global Styles */

:root {
	/* Colors */
	--color-white: rgb(255, 255, 255);
	--color-electric-blue: color(display-p3 0.1 0.1 1);
	--color-dark-blue: rgb(7, 7, 118);

	/* Typography */
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Layout */
	--base-padding: clamp(1.5rem, 4vw, 3rem);
	--fill-container: calc(100% - var(--base-padding) * 2);

	/* Color Scheme */
	color-scheme: light dark;
	color: var(--color-white);
	background-color: var(--color-electric-blue);
}

/* Components */

.title {
	color: var(--color-electric-blue);
	text-align: center;
	font-size: clamp(1.5rem, 2.5vw + 0.5rem, 4rem);
	font-weight: 600;
	line-height: 112%;

	@media screen and (min-width: 48em) {
		letter-spacing: -1.5px;
	}
}

.description {
	font-size: clamp(1.25rem, 4vw, 2rem);
	font-weight: 350;
	margin-block: 0;
	max-width: 40ch;
}

.btn {
	font-weight: 600;
	padding: 0.5rem 1rem;
	background-color: var(--color-white);
	border-radius: 0.25rem;
	border: 1px solid var(--color-white);
	text-decoration: none;
	transition: background-color 200ms ease-in-out;
	text-align: center;
}

.btn--primary {
	color: var(--color-dark-blue);

	&:hover {
		background-color: color-mix(in srgb, var(--color-white) 80%, transparent);
	}
}

.btn--secondary {
	background-color: transparent;
	color: var(--color-white);

	&:hover {
		background-color: color-mix(in srgb, var(--color-white) 10%, transparent);
	}
}

.btn-container {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin-block: 2rem 4rem;

	@container (width < 25em) {
		flex-direction: column;
	}
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block: 1.5rem 2rem;

	.logo-text {
		font-size: 1.5rem;
		font-weight: 800;
		margin-block: 0;
		text-align: center;
	}

	.logo-svg {
		width: 5rem;
		height: 5rem;
	}

	@media screen and (min-width: 48em) {
		flex-direction: row;
		writing-mode: vertical-lr;
		transform: rotate(180deg);

		.logo-text {
			font-size: clamp(3rem, 5vw, 4rem);
		}

		.logo-svg {
			transform: rotate(90deg);
		}
	}

	@media screen and (min-width: 90em) {
		flex-direction: column;
		writing-mode: horizontal-tb;
		transform: rotate(-360deg);

		.logo-text {
			font-size: 2rem;
		}

		.logo-svg {
			transform: rotate(0deg);
		}
	}
}

.screenshot-container {
	padding: clamp(1rem, 4vw, 3rem) clamp(0rem, 4vw, 6rem);
	display: flex;
	justify-content: center;
	align-items: center;

	& img {
		max-width: 100%;
		max-height: 100%;
		filter: drop-shadow(rgba(22, 20, 244, 0.25) 0px 32px 32px);
	}
}

/* Layout */

.grid {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'section-a'
		'section-b'
		'section-c';
	min-width: 320px;
	min-height: 100vh;

	@media screen and (min-width: 48em) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'section-a section-a section-b section-b section-b section-b'
			'section-a section-a section-b section-b section-b section-b'
			'section-c section-c section-c section-c section-c section-c';
	}

	@media screen and (min-width: 90em) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'section-a section-a section-b section-b section-b section-b'
			'section-c section-c section-b section-b section-b section-b'
			'section-c section-c section-b section-b section-b section-b';
	}
}

.section-b,
.section-c {
	padding: var(--base-padding);
	width: var(--fill-container);
	height: var(--fill-container);
}

.section-a {
	grid-area: section-a;
	background-color: var(--color-electric-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.section-b {
	grid-area: section-b;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	place-content: center;
}

.section-c {
	grid-area: section-c;
	background-color: var(--color-dark-blue);
	display: flex;
	flex-direction: column;
	container-type: inline-size;
}

.footer {
	margin-block-start: auto;
}
