/* Global Styles */

:root {
	/* Base Palette */
	--electric-blue: oklch(46% 0.31 266.02);
	--white: rgb(255 255 255);
	--dark-blue: lch(from var(--electric-blue) calc(l - 40) c h);
	--shadow-blue: lch(from var(--electric-blue) calc(l - 40) c h / 15%);

	/* Semantic Mapping */
	--color-bg-primary: var(--electric-blue);
	--color-bg-secondary: var(--dark-blue);
	--color-bg-surface: var(--white);
	--color-text-primary: var(--white);
	--color-text-secondary: var(--dark-blue);
	--color-shadow: var(--shadow-blue);

	/* Typography */
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Layout */
	--base-padding: clamp(1.5rem, 4vw, 4rem);

	/* Color Scheme */
	color-scheme: light dark;
	color: var(--color-text-primary);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img,
svg {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

html,
body {
	background-color: var(--color-bg-secondary);
}

/* Components */

.title {
	color: var(--color-bg-primary);
	text-align: center;
	font-size: clamp(1.5rem, 2.5vw + 0.5rem, 4rem);
	font-weight: 700;
	line-height: 112%;

	@media screen and (min-width: 48em) {
		letter-spacing: -1.5px;
	}
}

.description {
	font-size: clamp(1.25rem, 4vw, 2rem);
	font-weight: 350;
	margin-block: 0;
	max-width: 40ch;
}

.btn {
	font-weight: 600;
	padding: 0.5rem 1rem;
	background-color: var(--color-bg-surface);
	border-radius: 0.25rem;
	border: 1px solid var(--color-bg-surface);
	text-decoration: none;
	transition: background-color 200ms ease-in-out;
	text-align: center;
}

.btn--primary {
	color: var(--color-text-secondary);

	&:hover {
		background-color: color-mix(in srgb, var(--color-bg-surface) 80%, transparent);
	}
}

.btn--secondary {
	background-color: transparent;
	color: var(--color-bg-surface);

	&:hover {
		background-color: color-mix(in srgb, var(--color-bg-surface) 10%, transparent);
	}
}

.btn-container {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin-block: 2rem 4rem;

	@container (width < 25em) {
		flex-direction: column;
	}
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block: clamp(1.5rem, 4vw, 3rem) clamp(2rem, 4vw, 4rem);

	.logo-text {
		font-size: 1.5rem;
		font-weight: 800;
		margin-block: 0;
		text-align: center;
	}

	.logo-svg {
		width: 5rem;
		height: 5rem;
	}

	@media screen and (min-width: 48em) {
		flex-direction: row;
		writing-mode: vertical-lr;
		transform: rotate(180deg);

		.logo-text {
			font-size: clamp(3rem, 5vw, 4rem);
		}

		.logo-svg {
			transform: rotate(90deg);
		}
	}

	@media screen and (min-width: 90em) {
		flex-direction: column;
		writing-mode: horizontal-tb;
		transform: rotate(-360deg);

		.logo-text {
			font-size: 2rem;
		}

		.logo-svg {
			transform: rotate(0deg);
		}
	}
}

.screenshot-container {
	padding: clamp(1rem, 4vw, 3rem) clamp(0rem, 4vw, 6rem);
	display: flex;
	justify-content: center;
	align-items: center;

	& img {
		filter: drop-shadow(var(--color-shadow) 0px 32px 32px);
	}
}

/* Layout */

.grid {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'section-a'
		'section-b'
		'section-c';
	min-width: 0;
	min-height: 100dvh;

	@media screen and (min-width: 48em) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'section-a section-a section-b section-b section-b section-b'
			'section-a section-a section-b section-b section-b section-b'
			'section-c section-c section-c section-c section-c section-c';
	}

	@media screen and (min-width: 90em) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'section-a section-a section-b section-b section-b section-b'
			'section-c section-c section-b section-b section-b section-b'
			'section-c section-c section-b section-b section-b section-b';
	}
}

.section-a,
.section-b,
.section-c {
	padding: var(--base-padding);
}

.section-a {
	grid-area: section-a;
	background-color: var(--color-bg-primary);
	display: flex;
	flex-wrap: wrap;
	place-content: center;

	@media screen and (min-width: 90em) {
		aspect-ratio: 16 / 9;
	}
}

.section-b {
	grid-area: section-b;
	background-color: var(--color-bg-surface);
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	flex-direction: column;
	place-content: center;
}

.section-c {
	grid-area: section-c;
	background-color: var(--color-bg-secondary);
	display: flex;
	flex-direction: column;
	container-type: inline-size;
}

.footer {
	margin-block-start: auto;
}

.footer-link {
	color: var(--color-bg-surface);
	transition: color 200ms ease-in-out;

	&:hover {
		opacity: 0.6;
	}
}
