/* Grid layout */

.grid {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'section-a'
		'section-b'
		'section-c'
		'section-d';
	min-width: 0;
	min-height: 100dvh;
}

/* medium screens */
@media screen and (min-width: 48em) {
	.grid {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'section-a section-a section-b section-b section-b section-b'
			'section-a section-a section-b section-b section-b section-b'
			'section-c section-c section-c section-c section-c section-c'
			'section-d section-d section-d section-d section-d section-d';
	}
}

/* large screens */
@media screen and (min-width: 90em) {
	.grid {
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas:
			'section-a section-a section-b section-b section-b section-b'
			'section-c section-c section-b section-b section-b section-b'
			'section-c section-c section-b section-b section-b section-b'
			'section-d section-d section-b section-b section-b section-b';
	}
}

.section-a,
.section-b,
.section-c {
	padding: var(--base-padding);
}

.section-a {
	grid-area: section-a;
	background-color: var(--color-bg-primary);
	display: grid;
	place-items: center;
}

.section-b {
	grid-area: section-b;
	background-color: var(--color-bg-surface);
	display: grid;
	grid-template-rows: auto 1fr;
	gap: var(--s-5);
	place-items: center;
}

.section-c {
	grid-area: section-c;
	background-color: var(--color-bg-secondary);
	container-type: inline-size;
}

.section-d {
	grid-area: section-d;
	background-color: var(--color-bg-secondary);
	padding: var(--s-5) var(--inline-padding);
	display: flex;
	flex-direction: column;
}
