.button {
	align-items: center;
	background-color: transparent;
	border-radius: var(--s-2);
	border: 1px solid var(--color-text);
	column-gap: var(--s-2);
	display: inline-flex;
	font-weight: var(--font-weight-bold);
	justify-content: center;
	padding: var(--s-2) var(--s-3);
	text-align: center;
	text-decoration: none;
	transition: background-color var(--motion-fast) ease-in-out;
}

.button--primary {
	background-color: var(--color-text);
	color: var(--color-background);

	&:hover {
		background-color: oklch(var(--lch-blue-light) / 0.8);
	}
}

.button--secondary {
	background-color: var(--color-background);
	color: var(--color-text);

	&:hover {
		background-color: oklch(var(--lch-blue-light) / 0.2);
	}
}
