.footer {
	padding-block: var(--s-5);
}

.footer-link {
	color: var(--color-bg-surface);
	transition: opacity var(--motion-fast) ease-in-out;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		opacity: 0.8;
		text-decoration: underline;
	}
}
