.logo {
	--logo-size: clamp(var(--s-5), var(--scale), var(--s-6));

	align-items: center;
	column-gap: var(--s-2);
	display: flex;
}

.logo__text {
	color: var(--color-text-primary, var(--color-text));
	font-size: clamp(var(--s-3), var(--scale), var(--s-4));
	font-weight: var(--font-weight-bold);
	margin: 0;
	text-align: center;
}

.logo__svg {
	height: var(--logo-size);
	width: var(--logo-size);
}
