.logo {
	--logo-size: clamp(var(--s-5), var(--scale), var(--s-6));

	display: flex;
	align-items: center;
	column-gap: var(--s-2);
}

.logo__text {
	color: var(--color-white);
	font-size: clamp(var(--s-3), var(--scale), var(--s-4));
	font-weight: var(--font-weight-bold);
	margin: 0;
	text-align: center;
}

.logo__svg {
	width: var(--logo-size);
	height: var(--logo-size);
}
