.title {
	color: var(--color-bg-primary);
	text-align: center;
	font-size: clamp(1.5rem, 3.5vw + 0.5rem, 6rem);
	font-weight: 700;
	line-height: 110%;

	@media screen and (min-width: 90em) {
		letter-spacing: -1.5px;
	}
}
