.title {
	color: var(--color-text-primary, var(--color-text));
	font-size: clamp(var(--s-5), var(--scale), var(--s-7));
	font-weight: var(--font-weight-bold);
	line-height: 1.1;
	margin-block-start: 1.1em;
}
