.title {
	color: var(--color-text-primary);
	font-size: clamp(var(--s-5), var(--scale), var(--s-7));
	font-weight: var(--font-weight-bold);
	line-height: 110%;

	@media screen and (min-width: 90em) {
		letter-spacing: -1.5px;
	}
}
