:where(*, *::before, *::after) {
	box-sizing: border-box;
}

:where(*) {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	background: var(--color-background);
	font-size: 16px;
	min-height: -webkit-fill-available;
	scroll-behavior: smooth;
}

body {
	background: var(--color-background);
	color: var(--color-text);
	display: flex;
	flex-direction: column;
	font-family: var(--font-family-system);
	font-style: normal;
	font-synthesis: none;
	font-weight: var(--font-weight-regular);
	line-height: 1.5;
	letter-spacing: -0.01em;
	min-height: 100dvh;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-inline: var(--s-4);
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}
