:where(*, *::before, *::after) {
	box-sizing: border-box;
}

:where(*) {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	background-color: var(--color-bg-primary);
}

html,
body {
	min-height: 100dvh;
	color: var(--color-text-primary);
	font-family: var(--font-family-system);
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-synthesis: none;
	color-scheme: light dark;
}

body {
	padding-inline: var(--s-4);
	min-height: 100vh;
	min-height: 100dvh;
}

/* images & svg */
img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}
