@layer base {
	html {
		color: var(--color-text);
		font-feature-settings: 'ss01', 'ss03';
		font-optical-sizing: auto;
		font-size: 16px;
		font-weight: var(--font-weight);
		scroll-behavior: smooth;
	}

	body {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		background: var(--color-background);
		font-size: var(--font-size);
		font-family: var(--font-family);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		margin: 0;
		padding: 0;
	}

	section {
		margin-block: calc(var(--line-height) * 2) var(--line-height);
	}

	h2 {
		color: var(--color-text-strong);
		font-size: var(--font-size-medium);
		line-height: var(--line-height);
		margin-block-end: calc(var(--line-height) / 3);
		font-weight: var(--font-weight-bold);
	}

	p {
		font-size: var(--font-size-medium);
		line-height: var(--line-height);
		margin-block-end: var(--line-height);
		max-inline-size: 44ch;
		text-wrap: pretty;
	}

	a {
		color: var(--color-text-strong);
		text-decoration-thickness: from-font;
		text-decoration-skip-ink: auto;
	}

	a:hover {
		color: var(--color-text-soft);
	}

	:is(a, button) {
		touch-action: manipulation;
		transition-property: background-color, border-color, box-shadow, filter, outline;
		transition: 0.1s ease-out;
	}

	:is(a, button):where(:focus-visible) {
		border-radius: var(--border-radius);
		outline: var(--focus-ring-size, 2px) solid var(--color-text-strong);
		outline-offset: var(--focus-ring-offset, 1px);
	}

	img,
	svg {
		display: block;
		max-width: 100%;
		height: auto;
	}
}
