@layer base {
	html {
		color: var(--color-text);
		font-feature-settings: 'ss01', 'ss03';
		font-optical-sizing: auto;
		font-size: 16px;
		font-weight: var(--font-weight);
		scroll-behavior: smooth;
	}

	body {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		background: var(--color-background);
		font-size: var(--font-size);
		font-family: var(--font-family);
		line-height: var(--line-height);
		letter-spacing: var(--letter-spacing);
		margin: 0;
		padding: 0;
	}

	img,
	svg {
		display: block;
		max-width: 100%;
		height: auto;
	}

	p {
		font-size: var(--font-size-medium);
		line-height: var(--line-height);
		margin-block-end: var(--line-height);
		max-inline-size: 44ch;
		text-wrap: pretty;
	}
}
