@layer layout {
	.container {
		margin-inline: auto;
		width: min(100%, 90rem);
	}

	.layout {
		container-type: inline-size;
		display: grid;
		grid-template-rows: auto 1fr auto;
		min-height: 100dvh;
		padding-inline: calc(var(--inline-spacing) * 2);

		header {
			padding-block: 1rem;
		}

		main {
			margin-block-start: clamp(1em, 1em + 2cqi, 3em);
		}
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 578px), 1fr));
		column-gap: 3rem;
	}
}
